.idea
.classpath
.project
*.iml
*.eml
build
../springBoot-demo/out
target
*.log
*.log.*
*.class
generatorConfig.xml
.DS_Store
*.cache
*.lock
.gradle
rebel.xml
/gradle
gradlew
gradlew.bat

#######
!/.gitignore
